$primary-dark: #121212;
$secondary-dark: #1f1f1f;
$white: #ffffff;
$primary-light-white: #fefefe;
$secondary-light-white: #fdfdfd;
$primary-dark-white: #f5f5f5;
$secondary-dark-white: #f9f9f9;
$primary-grey: #ebebeb;
$secondary-grey: #828799;
$tertiary-grey: #f6f6f7;
$accent: #00a698;
$primary-yellow: #ffb800;
$secondary-yellow: #fcc75f;
$primary-red: #ea552b;
$primary-purple: #6d1f6d;
$primary-light-purple: #d38ed3;
$secondary-light-purple: #d7bad8;
